<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD</key>
	<dict>
		<key>code</key>
		<string>AD</string>
		<key>country_code</key>
		<string>376</string>
		<key>name</key>
		<string>Andorra</string>
	</dict>
	<key>AE</key>
	<dict>
		<key>code</key>
		<string>AE</string>
		<key>country_code</key>
		<string>971</string>
		<key>name</key>
		<string>United Arab Emirates</string>
	</dict>
	<key>AF</key>
	<dict>
		<key>code</key>
		<string>AF</string>
		<key>country_code</key>
		<string>93</string>
		<key>name</key>
		<string>Afghanistan</string>
	</dict>
	<key>AG</key>
	<dict>
		<key>code</key>
		<string>AG</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Antigua and Barbuda</string>
	</dict>
	<key>AI</key>
	<dict>
		<key>code</key>
		<string>AI</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Anguilla</string>
	</dict>
	<key>AL</key>
	<dict>
		<key>code</key>
		<string>AL</string>
		<key>country_code</key>
		<string>355</string>
		<key>name</key>
		<string>Albania</string>
	</dict>
	<key>AM</key>
	<dict>
		<key>code</key>
		<string>AM</string>
		<key>country_code</key>
		<string>374</string>
		<key>name</key>
		<string>Armenia</string>
	</dict>
	<key>AN</key>
	<dict>
		<key>code</key>
		<string>AN</string>
		<key>country_code</key>
		<string>599</string>
		<key>name</key>
		<string>Netherlands Antilles</string>
	</dict>
	<key>AO</key>
	<dict>
		<key>code</key>
		<string>AO</string>
		<key>country_code</key>
		<string>244</string>
		<key>name</key>
		<string>Angola</string>
	</dict>
	<key>AR</key>
	<dict>
		<key>code</key>
		<string>AR</string>
		<key>country_code</key>
		<string>54</string>
		<key>name</key>
		<string>Argentina</string>
	</dict>
	<key>AS</key>
	<dict>
		<key>code</key>
		<string>AS</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>American Samoa</string>
	</dict>
	<key>AT</key>
	<dict>
		<key>code</key>
		<string>AT</string>
		<key>country_code</key>
		<string>43</string>
		<key>name</key>
		<string>Austria</string>
	</dict>
	<key>AU</key>
	<dict>
		<key>code</key>
		<string>AU</string>
		<key>country_code</key>
		<string>61</string>
		<key>name</key>
		<string>Australia</string>
	</dict>
	<key>AW</key>
	<dict>
		<key>code</key>
		<string>AW</string>
		<key>country_code</key>
		<string>297</string>
		<key>name</key>
		<string>Aruba</string>
	</dict>
	<key>AZ</key>
	<dict>
		<key>code</key>
		<string>AZ</string>
		<key>country_code</key>
		<string>994</string>
		<key>name</key>
		<string>Azerbaijan</string>
	</dict>
	<key>BA</key>
	<dict>
		<key>code</key>
		<string>BA</string>
		<key>country_code</key>
		<string>387</string>
		<key>name</key>
		<string>Bosnia</string>
	</dict>
	<key>BB</key>
	<dict>
		<key>code</key>
		<string>BB</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Barbados</string>
	</dict>
	<key>BD</key>
	<dict>
		<key>code</key>
		<string>BD</string>
		<key>country_code</key>
		<string>880</string>
		<key>name</key>
		<string>Bangladesh</string>
	</dict>
	<key>BE</key>
	<dict>
		<key>code</key>
		<string>BE</string>
		<key>country_code</key>
		<string>32</string>
		<key>name</key>
		<string>Belgium</string>
	</dict>
	<key>BF</key>
	<dict>
		<key>code</key>
		<string>BF</string>
		<key>country_code</key>
		<string>226</string>
		<key>name</key>
		<string>Burkina Faso</string>
	</dict>
	<key>BG</key>
	<dict>
		<key>code</key>
		<string>BG</string>
		<key>country_code</key>
		<string>359</string>
		<key>name</key>
		<string>Bulgaria</string>
	</dict>
	<key>BH</key>
	<dict>
		<key>code</key>
		<string>BH</string>
		<key>country_code</key>
		<string>973</string>
		<key>name</key>
		<string>Bahrain</string>
	</dict>
	<key>BI</key>
	<dict>
		<key>code</key>
		<string>BI</string>
		<key>country_code</key>
		<string>257</string>
		<key>name</key>
		<string>Burundi</string>
	</dict>
	<key>BJ</key>
	<dict>
		<key>code</key>
		<string>BJ</string>
		<key>country_code</key>
		<string>229</string>
		<key>name</key>
		<string>Benin</string>
	</dict>
	<key>BM</key>
	<dict>
		<key>code</key>
		<string>BM</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Bermuda</string>
	</dict>
	<key>BN</key>
	<dict>
		<key>code</key>
		<string>BN</string>
		<key>country_code</key>
		<string>673</string>
		<key>name</key>
		<string>Brunei Darussalam</string>
	</dict>
	<key>BO</key>
	<dict>
		<key>code</key>
		<string>BO</string>
		<key>country_code</key>
		<string>591</string>
		<key>name</key>
		<string>Bolivia</string>
	</dict>
	<key>BR</key>
	<dict>
		<key>code</key>
		<string>BR</string>
		<key>country_code</key>
		<string>55</string>
		<key>name</key>
		<string>Brazil</string>
	</dict>
	<key>BS</key>
	<dict>
		<key>code</key>
		<string>BS</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Bahamas</string>
	</dict>
	<key>BT</key>
	<dict>
		<key>code</key>
		<string>BT</string>
		<key>country_code</key>
		<string>975</string>
		<key>name</key>
		<string>Bhutan</string>
	</dict>
	<key>BW</key>
	<dict>
		<key>code</key>
		<string>BW</string>
		<key>country_code</key>
		<string>267</string>
		<key>name</key>
		<string>Botswana</string>
	</dict>
	<key>BY</key>
	<dict>
		<key>code</key>
		<string>BY</string>
		<key>country_code</key>
		<string>375</string>
		<key>name</key>
		<string>Belarus</string>
	</dict>
	<key>BZ</key>
	<dict>
		<key>code</key>
		<string>BZ</string>
		<key>country_code</key>
		<string>501</string>
		<key>name</key>
		<string>Belize</string>
	</dict>
	<key>CA</key>
	<dict>
		<key>code</key>
		<string>CA</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Canada</string>
	</dict>
	<key>CC</key>
	<dict>
		<key>code</key>
		<string>CC</string>
		<key>country_code</key>
		<string>61</string>
		<key>name</key>
		<string>Cocos (Keeling) Islands</string>
	</dict>
	<key>CF</key>
	<dict>
		<key>code</key>
		<string>CF</string>
		<key>country_code</key>
		<string>236</string>
		<key>name</key>
		<string>Central African Republic</string>
	</dict>
	<key>CG</key>
	<dict>
		<key>code</key>
		<string>CG</string>
		<key>country_code</key>
		<string>242</string>
		<key>name</key>
		<string>Congo</string>
	</dict>
	<key>CH</key>
	<dict>
		<key>code</key>
		<string>CH</string>
		<key>country_code</key>
		<string>41</string>
		<key>name</key>
		<string>Switzerland</string>
	</dict>
	<key>CI</key>
	<dict>
		<key>code</key>
		<string>CI</string>
		<key>country_code</key>
		<string>225</string>
		<key>name</key>
		<string>Cote D'ivoire</string>
	</dict>
	<key>CK</key>
	<dict>
		<key>code</key>
		<string>CK</string>
		<key>country_code</key>
		<string>682</string>
		<key>name</key>
		<string>Cook Islands</string>
	</dict>
	<key>CL</key>
	<dict>
		<key>code</key>
		<string>CL</string>
		<key>country_code</key>
		<string>56</string>
		<key>name</key>
		<string>Chile</string>
	</dict>
	<key>CM</key>
	<dict>
		<key>code</key>
		<string>CM</string>
		<key>country_code</key>
		<string>237</string>
		<key>name</key>
		<string>Cameroon</string>
	</dict>
	<key>CN</key>
	<dict>
		<key>code</key>
		<string>CN</string>
		<key>country_code</key>
		<string>86</string>
		<key>name</key>
		<string>China</string>
	</dict>
	<key>CO</key>
	<dict>
		<key>code</key>
		<string>CO</string>
		<key>country_code</key>
		<string>57</string>
		<key>name</key>
		<string>Colombia</string>
	</dict>
	<key>CR</key>
	<dict>
		<key>code</key>
		<string>CR</string>
		<key>country_code</key>
		<string>506</string>
		<key>name</key>
		<string>Costa Rica</string>
	</dict>
	<key>CU</key>
	<dict>
		<key>code</key>
		<string>CU</string>
		<key>country_code</key>
		<string>53</string>
		<key>name</key>
		<string>Cuba</string>
	</dict>
	<key>CV</key>
	<dict>
		<key>code</key>
		<string>CV</string>
		<key>country_code</key>
		<string>238</string>
		<key>name</key>
		<string>Cape Verde</string>
	</dict>
	<key>CX</key>
	<dict>
		<key>code</key>
		<string>CX</string>
		<key>country_code</key>
		<string>61</string>
		<key>name</key>
		<string>Christmas Island</string>
	</dict>
	<key>CY</key>
	<dict>
		<key>code</key>
		<string>CY</string>
		<key>country_code</key>
		<string>537</string>
		<key>name</key>
		<string>Cyprus</string>
	</dict>
	<key>CZ</key>
	<dict>
		<key>code</key>
		<string>CZ</string>
		<key>country_code</key>
		<string>420</string>
		<key>name</key>
		<string>Czech Republic</string>
	</dict>
	<key>DE</key>
	<dict>
		<key>code</key>
		<string>DE</string>
		<key>country_code</key>
		<string>49</string>
		<key>name</key>
		<string>Germany</string>
	</dict>
	<key>DJ</key>
	<dict>
		<key>code</key>
		<string>DJ</string>
		<key>country_code</key>
		<string>253</string>
		<key>name</key>
		<string>Djibouti</string>
	</dict>
	<key>DK</key>
	<dict>
		<key>code</key>
		<string>DK</string>
		<key>country_code</key>
		<string>45</string>
		<key>name</key>
		<string>Denmark</string>
	</dict>
	<key>DM</key>
	<dict>
		<key>code</key>
		<string>DM</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Dominica</string>
	</dict>
	<key>DO</key>
	<dict>
		<key>code</key>
		<string>DO</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Dominican Republic</string>
	</dict>
	<key>DZ</key>
	<dict>
		<key>code</key>
		<string>DZ</string>
		<key>country_code</key>
		<string>213</string>
		<key>name</key>
		<string>Algeria</string>
	</dict>
	<key>EC</key>
	<dict>
		<key>code</key>
		<string>EC</string>
		<key>country_code</key>
		<string>593</string>
		<key>name</key>
		<string>Ecuador</string>
	</dict>
	<key>EE</key>
	<dict>
		<key>code</key>
		<string>EE</string>
		<key>country_code</key>
		<string>372</string>
		<key>name</key>
		<string>Estonia</string>
	</dict>
	<key>EG</key>
	<dict>
		<key>code</key>
		<string>EG</string>
		<key>country_code</key>
		<string>20</string>
		<key>name</key>
		<string>Egypt</string>
	</dict>
	<key>ER</key>
	<dict>
		<key>code</key>
		<string>ER</string>
		<key>country_code</key>
		<string>291</string>
		<key>name</key>
		<string>Eritrea</string>
	</dict>
	<key>ES</key>
	<dict>
		<key>code</key>
		<string>ES</string>
		<key>country_code</key>
		<string>34</string>
		<key>name</key>
		<string>Spain</string>
	</dict>
	<key>ET</key>
	<dict>
		<key>code</key>
		<string>ET</string>
		<key>country_code</key>
		<string>251</string>
		<key>name</key>
		<string>Ethiopia</string>
	</dict>
	<key>FI</key>
	<dict>
		<key>code</key>
		<string>FI</string>
		<key>country_code</key>
		<string>358</string>
		<key>name</key>
		<string>Finland</string>
	</dict>
	<key>FJ</key>
	<dict>
		<key>code</key>
		<string>FJ</string>
		<key>country_code</key>
		<string>679</string>
		<key>name</key>
		<string>Fiji</string>
	</dict>
	<key>FK</key>
	<dict>
		<key>code</key>
		<string>FK</string>
		<key>country_code</key>
		<string>500</string>
		<key>name</key>
		<string>Falkland Islands (Malvinas)</string>
	</dict>
	<key>FM</key>
	<dict>
		<key>code</key>
		<string>FM</string>
		<key>country_code</key>
		<string>691</string>
		<key>name</key>
		<string>Micronesia</string>
	</dict>
	<key>FO</key>
	<dict>
		<key>code</key>
		<string>FO</string>
		<key>country_code</key>
		<string>298</string>
		<key>name</key>
		<string>Faroe Islands</string>
	</dict>
	<key>FR</key>
	<dict>
		<key>code</key>
		<string>FR</string>
		<key>country_code</key>
		<string>33</string>
		<key>name</key>
		<string>France</string>
	</dict>
	<key>GA</key>
	<dict>
		<key>code</key>
		<string>GA</string>
		<key>country_code</key>
		<string>241</string>
		<key>name</key>
		<string>Gabon</string>
	</dict>
	<key>GB</key>
	<dict>
		<key>code</key>
		<string>GB</string>
		<key>country_code</key>
		<string>44</string>
		<key>name</key>
		<string>United Kingdom</string>
	</dict>
	<key>GD</key>
	<dict>
		<key>code</key>
		<string>GD</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Grenada</string>
	</dict>
	<key>GE</key>
	<dict>
		<key>code</key>
		<string>GE</string>
		<key>country_code</key>
		<string>995</string>
		<key>name</key>
		<string>Georgia</string>
	</dict>
	<key>GF</key>
	<dict>
		<key>code</key>
		<string>GF</string>
		<key>country_code</key>
		<string>594</string>
		<key>name</key>
		<string>French Guiana</string>
	</dict>
	<key>GH</key>
	<dict>
		<key>code</key>
		<string>GH</string>
		<key>country_code</key>
		<string>233</string>
		<key>name</key>
		<string>Ghana</string>
	</dict>
	<key>GI</key>
	<dict>
		<key>code</key>
		<string>GI</string>
		<key>country_code</key>
		<string>350</string>
		<key>name</key>
		<string>Gibraltar</string>
	</dict>
	<key>GL</key>
	<dict>
		<key>code</key>
		<string>GL</string>
		<key>country_code</key>
		<string>299</string>
		<key>name</key>
		<string>Greenland</string>
	</dict>
	<key>GM</key>
	<dict>
		<key>code</key>
		<string>GM</string>
		<key>country_code</key>
		<string>220</string>
		<key>name</key>
		<string>Gambia</string>
	</dict>
	<key>GN</key>
	<dict>
		<key>code</key>
		<string>GN</string>
		<key>country_code</key>
		<string>224</string>
		<key>name</key>
		<string>Guinea</string>
	</dict>
	<key>GP</key>
	<dict>
		<key>code</key>
		<string>GP</string>
		<key>country_code</key>
		<string>590</string>
		<key>name</key>
		<string>Guadeloupe</string>
	</dict>
	<key>GQ</key>
	<dict>
		<key>code</key>
		<string>GQ</string>
		<key>country_code</key>
		<string>240</string>
		<key>name</key>
		<string>Equatorial Guinea</string>
	</dict>
	<key>GR</key>
	<dict>
		<key>code</key>
		<string>GR</string>
		<key>country_code</key>
		<string>30</string>
		<key>name</key>
		<string>Greece</string>
	</dict>
	<key>GT</key>
	<dict>
		<key>code</key>
		<string>GT</string>
		<key>country_code</key>
		<string>502</string>
		<key>name</key>
		<string>Guatemala</string>
	</dict>
	<key>GU</key>
	<dict>
		<key>code</key>
		<string>GU</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Guam</string>
	</dict>
	<key>GW</key>
	<dict>
		<key>code</key>
		<string>GW</string>
		<key>country_code</key>
		<string>245</string>
		<key>name</key>
		<string>Guinea-bissau</string>
	</dict>
	<key>GY</key>
	<dict>
		<key>code</key>
		<string>GY</string>
		<key>country_code</key>
		<string>595</string>
		<key>name</key>
		<string>Guyana</string>
	</dict>
	<key>HK</key>
	<dict>
		<key>code</key>
		<string>HK</string>
		<key>country_code</key>
		<string>852</string>
		<key>name</key>
		<string>Hong Kong</string>
	</dict>
	<key>HN</key>
	<dict>
		<key>code</key>
		<string>HN</string>
		<key>country_code</key>
		<string>504</string>
		<key>name</key>
		<string>Honduras</string>
	</dict>
	<key>HR</key>
	<dict>
		<key>code</key>
		<string>HR</string>
		<key>country_code</key>
		<string>385</string>
		<key>name</key>
		<string>Croatia</string>
	</dict>
	<key>HT</key>
	<dict>
		<key>code</key>
		<string>HT</string>
		<key>country_code</key>
		<string>509</string>
		<key>name</key>
		<string>Haiti</string>
	</dict>
	<key>HU</key>
	<dict>
		<key>code</key>
		<string>HU</string>
		<key>country_code</key>
		<string>36</string>
		<key>name</key>
		<string>Hungary</string>
	</dict>
	<key>ID</key>
	<dict>
		<key>code</key>
		<string>ID</string>
		<key>country_code</key>
		<string>62</string>
		<key>name</key>
		<string>Indonesia</string>
	</dict>
	<key>IE</key>
	<dict>
		<key>code</key>
		<string>IE</string>
		<key>country_code</key>
		<string>353</string>
		<key>name</key>
		<string>Ireland</string>
	</dict>
	<key>IL</key>
	<dict>
		<key>code</key>
		<string>IL</string>
		<key>country_code</key>
		<string>972</string>
		<key>name</key>
		<string>Israel</string>
	</dict>
	<key>IN</key>
	<dict>
		<key>code</key>
		<string>IN</string>
		<key>country_code</key>
		<string>91</string>
		<key>name</key>
		<string>India</string>
	</dict>
	<key>IO</key>
	<dict>
		<key>code</key>
		<string>IO</string>
		<key>country_code</key>
		<string>246</string>
		<key>name</key>
		<string>British Indian Ocean Territory</string>
	</dict>
	<key>IQ</key>
	<dict>
		<key>code</key>
		<string>IQ</string>
		<key>country_code</key>
		<string>964</string>
		<key>name</key>
		<string>Iraq</string>
	</dict>
	<key>IR</key>
	<dict>
		<key>code</key>
		<string>IR</string>
		<key>country_code</key>
		<string>98</string>
		<key>name</key>
		<string>Iran</string>
	</dict>
	<key>IS</key>
	<dict>
		<key>code</key>
		<string>IS</string>
		<key>country_code</key>
		<string>354</string>
		<key>name</key>
		<string>Iceland</string>
	</dict>
	<key>IT</key>
	<dict>
		<key>code</key>
		<string>IT</string>
		<key>country_code</key>
		<string>39</string>
		<key>name</key>
		<string>Italy</string>
	</dict>
	<key>JM</key>
	<dict>
		<key>code</key>
		<string>JM</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Jamaica</string>
	</dict>
	<key>JO</key>
	<dict>
		<key>code</key>
		<string>JO</string>
		<key>country_code</key>
		<string>962</string>
		<key>name</key>
		<string>Jordan</string>
	</dict>
	<key>JP</key>
	<dict>
		<key>code</key>
		<string>JP</string>
		<key>country_code</key>
		<string>81</string>
		<key>name</key>
		<string>Japan</string>
	</dict>
	<key>KE</key>
	<dict>
		<key>code</key>
		<string>KE</string>
		<key>country_code</key>
		<string>254</string>
		<key>name</key>
		<string>Kenya</string>
	</dict>
	<key>KG</key>
	<dict>
		<key>code</key>
		<string>KG</string>
		<key>country_code</key>
		<string>996</string>
		<key>name</key>
		<string>Kyrgyzstan</string>
	</dict>
	<key>KH</key>
	<dict>
		<key>code</key>
		<string>KH</string>
		<key>country_code</key>
		<string>855</string>
		<key>name</key>
		<string>Cambodia</string>
	</dict>
	<key>KI</key>
	<dict>
		<key>code</key>
		<string>KI</string>
		<key>country_code</key>
		<string>686</string>
		<key>name</key>
		<string>Kiribati</string>
	</dict>
	<key>KM</key>
	<dict>
		<key>code</key>
		<string>KM</string>
		<key>country_code</key>
		<string>269</string>
		<key>name</key>
		<string>Comoros</string>
	</dict>
	<key>KN</key>
	<dict>
		<key>code</key>
		<string>KN</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Saint Kitts and Nevis</string>
	</dict>
	<key>KR</key>
	<dict>
		<key>code</key>
		<string>KR</string>
		<key>country_code</key>
		<string>82</string>
		<key>name</key>
		<string>South Korea</string>
	</dict>
	<key>KW</key>
	<dict>
		<key>code</key>
		<string>KW</string>
		<key>country_code</key>
		<string>965</string>
		<key>name</key>
		<string>Kuwait</string>
	</dict>
	<key>KY</key>
	<dict>
		<key>code</key>
		<string>KY</string>
		<key>country_code</key>
		<string>345</string>
		<key>name</key>
		<string>Cayman Islands</string>
	</dict>
	<key>KZ</key>
	<dict>
		<key>code</key>
		<string>KZ</string>
		<key>country_code</key>
		<string>77</string>
		<key>name</key>
		<string>Kazakhstan</string>
	</dict>
	<key>LA</key>
	<dict>
		<key>code</key>
		<string>LA</string>
		<key>country_code</key>
		<string>856</string>
		<key>name</key>
		<string>Laos</string>
	</dict>
	<key>LB</key>
	<dict>
		<key>code</key>
		<string>LB</string>
		<key>country_code</key>
		<string>961</string>
		<key>name</key>
		<string>Lebanon</string>
	</dict>
	<key>LC</key>
	<dict>
		<key>code</key>
		<string>LC</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Saint Lucia</string>
	</dict>
	<key>LI</key>
	<dict>
		<key>code</key>
		<string>LI</string>
		<key>country_code</key>
		<string>423</string>
		<key>name</key>
		<string>Liechtenstein</string>
	</dict>
	<key>LK</key>
	<dict>
		<key>code</key>
		<string>LK</string>
		<key>country_code</key>
		<string>94</string>
		<key>name</key>
		<string>Sri Lanka</string>
	</dict>
	<key>LR</key>
	<dict>
		<key>code</key>
		<string>LR</string>
		<key>country_code</key>
		<string>231</string>
		<key>name</key>
		<string>Liberia</string>
	</dict>
	<key>LS</key>
	<dict>
		<key>code</key>
		<string>LS</string>
		<key>country_code</key>
		<string>266</string>
		<key>name</key>
		<string>Lesotho</string>
	</dict>
	<key>LT</key>
	<dict>
		<key>code</key>
		<string>LT</string>
		<key>country_code</key>
		<string>370</string>
		<key>name</key>
		<string>Lithuania</string>
	</dict>
	<key>LU</key>
	<dict>
		<key>code</key>
		<string>LU</string>
		<key>country_code</key>
		<string>352</string>
		<key>name</key>
		<string>Luxembourg</string>
	</dict>
	<key>LV</key>
	<dict>
		<key>code</key>
		<string>LV</string>
		<key>country_code</key>
		<string>371</string>
		<key>name</key>
		<string>Latvia</string>
	</dict>
	<key>LY</key>
	<dict>
		<key>code</key>
		<string>LY</string>
		<key>country_code</key>
		<string>218</string>
		<key>name</key>
		<string>Libya</string>
	</dict>
	<key>MA</key>
	<dict>
		<key>code</key>
		<string>MA</string>
		<key>country_code</key>
		<string>212</string>
		<key>name</key>
		<string>Morocco</string>
	</dict>
	<key>MC</key>
	<dict>
		<key>code</key>
		<string>MC</string>
		<key>country_code</key>
		<string>377</string>
		<key>name</key>
		<string>Monaco</string>
	</dict>
	<key>MD</key>
	<dict>
		<key>code</key>
		<string>MD</string>
		<key>country_code</key>
		<string>373</string>
		<key>name</key>
		<string>Moldova</string>
	</dict>
	<key>ME</key>
	<dict>
		<key>code</key>
		<string>ME</string>
		<key>country_code</key>
		<string>382</string>
		<key>name</key>
		<string>Montenegro</string>
	</dict>
	<key>MG</key>
	<dict>
		<key>code</key>
		<string>MG</string>
		<key>country_code</key>
		<string>261</string>
		<key>name</key>
		<string>Madagascar</string>
	</dict>
	<key>MH</key>
	<dict>
		<key>code</key>
		<string>MH</string>
		<key>country_code</key>
		<string>692</string>
		<key>name</key>
		<string>Marshall Islands</string>
	</dict>
	<key>MK</key>
	<dict>
		<key>code</key>
		<string>MK</string>
		<key>country_code</key>
		<string>389</string>
		<key>name</key>
		<string>Macedonia</string>
	</dict>
	<key>ML</key>
	<dict>
		<key>code</key>
		<string>ML</string>
		<key>country_code</key>
		<string>223</string>
		<key>name</key>
		<string>Mali</string>
	</dict>
	<key>MM</key>
	<dict>
		<key>code</key>
		<string>MM</string>
		<key>country_code</key>
		<string>95</string>
		<key>name</key>
		<string>Myanmar</string>
	</dict>
	<key>MN</key>
	<dict>
		<key>code</key>
		<string>MN</string>
		<key>country_code</key>
		<string>976</string>
		<key>name</key>
		<string>Mongolia</string>
	</dict>
	<key>MO</key>
	<dict>
		<key>code</key>
		<string>MO</string>
		<key>country_code</key>
		<string>853</string>
		<key>name</key>
		<string>Macau</string>
	</dict>
	<key>MP</key>
	<dict>
		<key>code</key>
		<string>MP</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Northern Mariana Islands</string>
	</dict>
	<key>MQ</key>
	<dict>
		<key>code</key>
		<string>MQ</string>
		<key>country_code</key>
		<string>596</string>
		<key>name</key>
		<string>Martinique</string>
	</dict>
	<key>MR</key>
	<dict>
		<key>code</key>
		<string>MR</string>
		<key>country_code</key>
		<string>222</string>
		<key>name</key>
		<string>Mauritania</string>
	</dict>
	<key>MS</key>
	<dict>
		<key>code</key>
		<string>MS</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Montserrat</string>
	</dict>
	<key>MT</key>
	<dict>
		<key>code</key>
		<string>MT</string>
		<key>country_code</key>
		<string>356</string>
		<key>name</key>
		<string>Malta</string>
	</dict>
	<key>MU</key>
	<dict>
		<key>code</key>
		<string>MU</string>
		<key>country_code</key>
		<string>230</string>
		<key>name</key>
		<string>Mauritius</string>
	</dict>
	<key>MV</key>
	<dict>
		<key>code</key>
		<string>MV</string>
		<key>country_code</key>
		<string>960</string>
		<key>name</key>
		<string>Maldives</string>
	</dict>
	<key>MW</key>
	<dict>
		<key>code</key>
		<string>MW</string>
		<key>country_code</key>
		<string>265</string>
		<key>name</key>
		<string>Malawi</string>
	</dict>
	<key>MX</key>
	<dict>
		<key>code</key>
		<string>MX</string>
		<key>country_code</key>
		<string>52</string>
		<key>name</key>
		<string>Mexico</string>
	</dict>
	<key>MY</key>
	<dict>
		<key>code</key>
		<string>MY</string>
		<key>country_code</key>
		<string>60</string>
		<key>name</key>
		<string>Malaysia</string>
	</dict>
	<key>MZ</key>
	<dict>
		<key>code</key>
		<string>MZ</string>
		<key>country_code</key>
		<string>258</string>
		<key>name</key>
		<string>Mozambique</string>
	</dict>
	<key>NA</key>
	<dict>
		<key>code</key>
		<string>NA</string>
		<key>country_code</key>
		<string>264</string>
		<key>name</key>
		<string>Namibia</string>
	</dict>
	<key>NC</key>
	<dict>
		<key>code</key>
		<string>NC</string>
		<key>country_code</key>
		<string>687</string>
		<key>name</key>
		<string>New Caledonia</string>
	</dict>
	<key>NE</key>
	<dict>
		<key>code</key>
		<string>NE</string>
		<key>country_code</key>
		<string>227</string>
		<key>name</key>
		<string>Niger</string>
	</dict>
	<key>NF</key>
	<dict>
		<key>code</key>
		<string>NF</string>
		<key>country_code</key>
		<string>672</string>
		<key>name</key>
		<string>Norfolk Island</string>
	</dict>
	<key>NG</key>
	<dict>
		<key>code</key>
		<string>NG</string>
		<key>country_code</key>
		<string>234</string>
		<key>name</key>
		<string>Nigeria</string>
	</dict>
	<key>NI</key>
	<dict>
		<key>code</key>
		<string>NI</string>
		<key>country_code</key>
		<string>505</string>
		<key>name</key>
		<string>Nicaragua</string>
	</dict>
	<key>NL</key>
	<dict>
		<key>code</key>
		<string>NL</string>
		<key>country_code</key>
		<string>31</string>
		<key>name</key>
		<string>Netherlands</string>
	</dict>
	<key>NO</key>
	<dict>
		<key>code</key>
		<string>NO</string>
		<key>country_code</key>
		<string>47</string>
		<key>name</key>
		<string>Norway</string>
	</dict>
	<key>NP</key>
	<dict>
		<key>code</key>
		<string>NP</string>
		<key>country_code</key>
		<string>977</string>
		<key>name</key>
		<string>Nepal</string>
	</dict>
	<key>NR</key>
	<dict>
		<key>code</key>
		<string>NR</string>
		<key>country_code</key>
		<string>674</string>
		<key>name</key>
		<string>Nauru</string>
	</dict>
	<key>NU</key>
	<dict>
		<key>code</key>
		<string>NU</string>
		<key>country_code</key>
		<string>683</string>
		<key>name</key>
		<string>Niue</string>
	</dict>
	<key>NZ</key>
	<dict>
		<key>code</key>
		<string>NZ</string>
		<key>country_code</key>
		<string>64</string>
		<key>name</key>
		<string>New Zealand</string>
	</dict>
	<key>OM</key>
	<dict>
		<key>code</key>
		<string>OM</string>
		<key>country_code</key>
		<string>968</string>
		<key>name</key>
		<string>Oman</string>
	</dict>
	<key>PA</key>
	<dict>
		<key>code</key>
		<string>PA</string>
		<key>country_code</key>
		<string>507</string>
		<key>name</key>
		<string>Panama</string>
	</dict>
	<key>PE</key>
	<dict>
		<key>code</key>
		<string>PE</string>
		<key>country_code</key>
		<string>51</string>
		<key>name</key>
		<string>Peru</string>
	</dict>
	<key>PF</key>
	<dict>
		<key>code</key>
		<string>PF</string>
		<key>country_code</key>
		<string>689</string>
		<key>name</key>
		<string>French Polynesia</string>
	</dict>
	<key>PG</key>
	<dict>
		<key>code</key>
		<string>PG</string>
		<key>country_code</key>
		<string>675</string>
		<key>name</key>
		<string>Papua New Guinea</string>
	</dict>
	<key>PH</key>
	<dict>
		<key>code</key>
		<string>PH</string>
		<key>country_code</key>
		<string>63</string>
		<key>name</key>
		<string>Philippines</string>
	</dict>
	<key>PK</key>
	<dict>
		<key>code</key>
		<string>PK</string>
		<key>country_code</key>
		<string>92</string>
		<key>name</key>
		<string>Pakistan</string>
	</dict>
	<key>PL</key>
	<dict>
		<key>code</key>
		<string>PL</string>
		<key>country_code</key>
		<string>48</string>
		<key>name</key>
		<string>Poland</string>
	</dict>
	<key>PM</key>
	<dict>
		<key>code</key>
		<string>PM</string>
		<key>country_code</key>
		<string>508</string>
		<key>name</key>
		<string>St. Pierre and Miquelon</string>
	</dict>
	<key>PN</key>
	<dict>
		<key>code</key>
		<string>PN</string>
		<key>country_code</key>
		<string>872</string>
		<key>name</key>
		<string>Pitcairn</string>
	</dict>
	<key>PR</key>
	<dict>
		<key>code</key>
		<string>PR</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Puerto Rico</string>
	</dict>
	<key>PT</key>
	<dict>
		<key>code</key>
		<string>PT</string>
		<key>country_code</key>
		<string>351</string>
		<key>name</key>
		<string>Portugal</string>
	</dict>
	<key>PW</key>
	<dict>
		<key>code</key>
		<string>PW</string>
		<key>country_code</key>
		<string>680</string>
		<key>name</key>
		<string>Palau</string>
	</dict>
	<key>PY</key>
	<dict>
		<key>code</key>
		<string>PY</string>
		<key>country_code</key>
		<string>595</string>
		<key>name</key>
		<string>Paraguay</string>
	</dict>
	<key>QA</key>
	<dict>
		<key>code</key>
		<string>QA</string>
		<key>country_code</key>
		<string>974</string>
		<key>name</key>
		<string>Qatar</string>
	</dict>
	<key>RE</key>
	<dict>
		<key>code</key>
		<string>RE</string>
		<key>country_code</key>
		<string>262</string>
		<key>name</key>
		<string>Reunion</string>
	</dict>
	<key>RO</key>
	<dict>
		<key>code</key>
		<string>RO</string>
		<key>country_code</key>
		<string>40</string>
		<key>name</key>
		<string>Romania</string>
	</dict>
	<key>RS</key>
	<dict>
		<key>code</key>
		<string>RS</string>
		<key>country_code</key>
		<string>381</string>
		<key>name</key>
		<string>Serbia</string>
	</dict>
	<key>RU</key>
	<dict>
		<key>code</key>
		<string>RU</string>
		<key>country_code</key>
		<string>7</string>
		<key>name</key>
		<string>Russian Federation</string>
	</dict>
	<key>RW</key>
	<dict>
		<key>code</key>
		<string>RW</string>
		<key>country_code</key>
		<string>250</string>
		<key>name</key>
		<string>Rwanda</string>
	</dict>
	<key>SA</key>
	<dict>
		<key>code</key>
		<string>SA</string>
		<key>country_code</key>
		<string>966</string>
		<key>name</key>
		<string>Saudi Arabia</string>
	</dict>
	<key>SB</key>
	<dict>
		<key>code</key>
		<string>SB</string>
		<key>country_code</key>
		<string>677</string>
		<key>name</key>
		<string>Solomon Islands</string>
	</dict>
	<key>SC</key>
	<dict>
		<key>code</key>
		<string>SC</string>
		<key>country_code</key>
		<string>248</string>
		<key>name</key>
		<string>Seychelles</string>
	</dict>
	<key>SD</key>
	<dict>
		<key>code</key>
		<string>SD</string>
		<key>country_code</key>
		<string>249</string>
		<key>name</key>
		<string>Sudan</string>
	</dict>
	<key>SE</key>
	<dict>
		<key>code</key>
		<string>SE</string>
		<key>country_code</key>
		<string>46</string>
		<key>name</key>
		<string>Sweden</string>
	</dict>
	<key>SG</key>
	<dict>
		<key>code</key>
		<string>SG</string>
		<key>country_code</key>
		<string>65</string>
		<key>name</key>
		<string>Singapore</string>
	</dict>
	<key>SH</key>
	<dict>
		<key>code</key>
		<string>SH</string>
		<key>country_code</key>
		<string>290</string>
		<key>name</key>
		<string>St. Helena</string>
	</dict>
	<key>SI</key>
	<dict>
		<key>code</key>
		<string>SI</string>
		<key>country_code</key>
		<string>386</string>
		<key>name</key>
		<string>Slovenia</string>
	</dict>
	<key>SJ</key>
	<dict>
		<key>code</key>
		<string>SJ</string>
		<key>country_code</key>
		<string>47</string>
		<key>name</key>
		<string>Svalbard and Jan Mayen Islands</string>
	</dict>
	<key>SK</key>
	<dict>
		<key>code</key>
		<string>SK</string>
		<key>country_code</key>
		<string>421</string>
		<key>name</key>
		<string>Slovakia</string>
	</dict>
	<key>SL</key>
	<dict>
		<key>code</key>
		<string>SL</string>
		<key>country_code</key>
		<string>232</string>
		<key>name</key>
		<string>Sierra Leone</string>
	</dict>
	<key>SM</key>
	<dict>
		<key>code</key>
		<string>SM</string>
		<key>country_code</key>
		<string>378</string>
		<key>name</key>
		<string>San Marino</string>
	</dict>
	<key>SN</key>
	<dict>
		<key>code</key>
		<string>SN</string>
		<key>country_code</key>
		<string>221</string>
		<key>name</key>
		<string>Senegal</string>
	</dict>
	<key>SO</key>
	<dict>
		<key>code</key>
		<string>SO</string>
		<key>country_code</key>
		<string>252</string>
		<key>name</key>
		<string>Somalia</string>
	</dict>
	<key>SR</key>
	<dict>
		<key>code</key>
		<string>SR</string>
		<key>country_code</key>
		<string>597</string>
		<key>name</key>
		<string>Suriname</string>
	</dict>
	<key>ST</key>
	<dict>
		<key>code</key>
		<string>ST</string>
		<key>country_code</key>
		<string>239</string>
		<key>name</key>
		<string>Sao Tome and Principe</string>
	</dict>
	<key>SV</key>
	<dict>
		<key>code</key>
		<string>SV</string>
		<key>country_code</key>
		<string>503</string>
		<key>name</key>
		<string>El Salvador</string>
	</dict>
	<key>SY</key>
	<dict>
		<key>code</key>
		<string>SY</string>
		<key>country_code</key>
		<string>963</string>
		<key>name</key>
		<string>Syrian Arab Republic</string>
	</dict>
	<key>SZ</key>
	<dict>
		<key>code</key>
		<string>SZ</string>
		<key>country_code</key>
		<string>268</string>
		<key>name</key>
		<string>Swaziland</string>
	</dict>
	<key>TC</key>
	<dict>
		<key>code</key>
		<string>TC</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Turks and Caicos Islands</string>
	</dict>
	<key>TD</key>
	<dict>
		<key>code</key>
		<string>TD</string>
		<key>country_code</key>
		<string>235</string>
		<key>name</key>
		<string>Chad</string>
	</dict>
	<key>TG</key>
	<dict>
		<key>code</key>
		<string>TG</string>
		<key>country_code</key>
		<string>228</string>
		<key>name</key>
		<string>Togo</string>
	</dict>
	<key>TH</key>
	<dict>
		<key>code</key>
		<string>TH</string>
		<key>country_code</key>
		<string>66</string>
		<key>name</key>
		<string>Thailand</string>
	</dict>
	<key>TJ</key>
	<dict>
		<key>code</key>
		<string>TJ</string>
		<key>country_code</key>
		<string>992</string>
		<key>name</key>
		<string>Tajikistan</string>
	</dict>
	<key>TK</key>
	<dict>
		<key>code</key>
		<string>TK</string>
		<key>country_code</key>
		<string>690</string>
		<key>name</key>
		<string>Tokelau</string>
	</dict>
	<key>TM</key>
	<dict>
		<key>code</key>
		<string>TM</string>
		<key>country_code</key>
		<string>993</string>
		<key>name</key>
		<string>Turkmenistan</string>
	</dict>
	<key>TN</key>
	<dict>
		<key>code</key>
		<string>TN</string>
		<key>country_code</key>
		<string>216</string>
		<key>name</key>
		<string>Tunisia</string>
	</dict>
	<key>TO</key>
	<dict>
		<key>code</key>
		<string>TO</string>
		<key>country_code</key>
		<string>676</string>
		<key>name</key>
		<string>Tonga</string>
	</dict>
	<key>TR</key>
	<dict>
		<key>code</key>
		<string>TR</string>
		<key>country_code</key>
		<string>90</string>
		<key>name</key>
		<string>Turkey</string>
	</dict>
	<key>TT</key>
	<dict>
		<key>code</key>
		<string>TT</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Trinidad and Tobago</string>
	</dict>
	<key>TV</key>
	<dict>
		<key>code</key>
		<string>TV</string>
		<key>country_code</key>
		<string>688</string>
		<key>name</key>
		<string>Tuvalu</string>
	</dict>
	<key>TW</key>
	<dict>
		<key>code</key>
		<string>TW</string>
		<key>country_code</key>
		<string>886</string>
		<key>name</key>
		<string>Taiwan</string>
	</dict>
	<key>TZ</key>
	<dict>
		<key>code</key>
		<string>TZ</string>
		<key>country_code</key>
		<string>255</string>
		<key>name</key>
		<string>Tanzania</string>
	</dict>
	<key>UA</key>
	<dict>
		<key>code</key>
		<string>UA</string>
		<key>country_code</key>
		<string>380</string>
		<key>name</key>
		<string>Ukraine</string>
	</dict>
	<key>UG</key>
	<dict>
		<key>code</key>
		<string>UG</string>
		<key>country_code</key>
		<string>256</string>
		<key>name</key>
		<string>Uganda</string>
	</dict>
	<key>US</key>
	<dict>
		<key>code</key>
		<string>US</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>United States</string>
	</dict>
	<key>UY</key>
	<dict>
		<key>code</key>
		<string>UY</string>
		<key>country_code</key>
		<string>598</string>
		<key>name</key>
		<string>Uruguay</string>
	</dict>
	<key>UZ</key>
	<dict>
		<key>code</key>
		<string>UZ</string>
		<key>country_code</key>
		<string>998</string>
		<key>name</key>
		<string>Uzbekistan</string>
	</dict>
	<key>VA</key>
	<dict>
		<key>code</key>
		<string>VA</string>
		<key>country_code</key>
		<string>379</string>
		<key>name</key>
		<string>Vatican City State</string>
	</dict>
	<key>VC</key>
	<dict>
		<key>code</key>
		<string>VC</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Saint Vincent and The Grenadines</string>
	</dict>
	<key>VE</key>
	<dict>
		<key>code</key>
		<string>VE</string>
		<key>country_code</key>
		<string>58</string>
		<key>name</key>
		<string>Venezuela</string>
	</dict>
	<key>VG</key>
	<dict>
		<key>code</key>
		<string>VG</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Virgin Islands (British)</string>
	</dict>
	<key>VI</key>
	<dict>
		<key>code</key>
		<string>VI</string>
		<key>country_code</key>
		<string>1</string>
		<key>name</key>
		<string>Virgin Islands (U.S.)</string>
	</dict>
	<key>VN</key>
	<dict>
		<key>code</key>
		<string>VN</string>
		<key>country_code</key>
		<string>84</string>
		<key>name</key>
		<string>Vietnam</string>
	</dict>
	<key>VU</key>
	<dict>
		<key>code</key>
		<string>VU</string>
		<key>country_code</key>
		<string>678</string>
		<key>name</key>
		<string>Vanuatu</string>
	</dict>
	<key>WF</key>
	<dict>
		<key>code</key>
		<string>WF</string>
		<key>country_code</key>
		<string>681</string>
		<key>name</key>
		<string>Wallis and Futuna Islands</string>
	</dict>
	<key>WS</key>
	<dict>
		<key>code</key>
		<string>WS</string>
		<key>country_code</key>
		<string>685</string>
		<key>name</key>
		<string>Samoa</string>
	</dict>
	<key>YE</key>
	<dict>
		<key>code</key>
		<string>YE</string>
		<key>country_code</key>
		<string>967</string>
		<key>name</key>
		<string>Yemen</string>
	</dict>
	<key>YT</key>
	<dict>
		<key>code</key>
		<string>YT</string>
		<key>country_code</key>
		<string>262</string>
		<key>name</key>
		<string>Mayotte</string>
	</dict>
	<key>ZA</key>
	<dict>
		<key>code</key>
		<string>ZA</string>
		<key>country_code</key>
		<string>27</string>
		<key>name</key>
		<string>South Africa</string>
	</dict>
	<key>ZM</key>
	<dict>
		<key>code</key>
		<string>ZM</string>
		<key>country_code</key>
		<string>260</string>
		<key>name</key>
		<string>Zambia</string>
	</dict>
	<key>ZW</key>
	<dict>
		<key>code</key>
		<string>ZW</string>
		<key>country_code</key>
		<string>263</string>
		<key>name</key>
		<string>Zimbabwe</string>
	</dict>
</dict>
</plist>
